/* Font */
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

/* Colors */
$color1: #B9FF66;
$color2: #191A23;
$color3: #F3F3F3;

/* Global */
*, *::before, *::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 100%;
}

a {
    text-decoration: none;
}

ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* Bootstrap */
.container-fluid {
    padding: 0;
}

.container {
    padding-left: 0;
    padding-right: 0;
}

/* Header */
header {
    padding: 60px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
        img {
            width: 172px;
            height: 28px;
        }
    }
    .menu {
        display: flex;
        align-items: center;
        .menu-item {
            margin-right: 40px;
            &:last-child {
                margin-right: 0;
            }
            .menu-link {
                font-size: 18px;
                color: $color2;
            }
            .menu-button {
                border: 1px solid $color2;
                border-radius: 14px;
                padding: 1rem 2rem;
                font-size: 18px;
                color: $color2;
            }
        }
    }
}

/* Hero */
.hero {
    height: calc(100dvh - 148px);
    padding-top: 10px;
    .content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        div {
            &:first-child {
                width: 532px;
            }
            h1 {
                margin-bottom: 1.5rem;
                font-size: 58px;
                color: $color2;
            }
            p {
                margin-bottom: 3rem;
                font-size: 1.5rem;
                color: $color2;
            }
            a {
                background-color: $color2;
                border: 1px solid $color2;
                border-radius: 14px;
                padding: 1rem 2rem;
                font-size: 18px;
                color: $color3;
            }
            img {
                width: 600px;
                height: 515px;
            }
        }
    }
    .partners {
        padding: 5.25rem 0 5rem 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        .partner {
            width: 128px;
            height: 48px;
            img {
                user-select: none;
                object-fit: cover;
                filter: grayscale(1);
                transition: .25s ease;
                &:hover {
                    transform: scale(1.05);
                    filter: grayscale(0);
                }
            }
        }
    }
}